@use "sass:map";
@import '../../common/theme';

#o-snackbar {
  display: none;
  position: fixed;
  min-width: 200px; /* Set a default minimum width */
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid;
  border-radius: $o-small-radius; /* Rounded borders */
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  padding: 6px; /* Padding */
  z-index: 1;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);

  &.show-bottom {
    display: flex; /* Show the snackbar */
    animation: fadeinBottom 0.5s;
  }

  &.show-top {
    display: flex; /* Show the snackbar */
    animation: fadeinTop 0.5s;
  }

  &.hide-bottom {
    animation: fadeoutBottom 0.5s;
  }

  &.hide-top {
    animation: fadeoutTop 0.5s;
  }

  &.anchor-left {
    left: 30px;
  }

  &.anchor-center {
    left: 50%;
    margin-left: -125px; /* Divide value of min-width by 2 */
  }
  &.anchor-right {
    right: 30px;
  }
  &.anchor-bottom {
    bottom: 30px;
  }
  &.anchor-top {
    top: 30px;
  }

  @each $type in $--types {
    &.o-snackbar-#{$type} {
      color: #fff;
      background-color: var(--o-#{$type}, map.get($--colors, $type, 'base'));
      border-color: var(--o-#{$type}, map.get($--colors, $type, 'base'));
    }
  }
}

#o-snackbar #bar-text {
  font-family: $o-font-family;
  color: $o-surface;
}

#o-snackbar #bar-svg {
  margin: 8px;
}

#o-snackbar #bar-close {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: transparent;
  border: transparent;
  border-radius: 50%;
  color: $o-surface;
  pointer-events: auto;
  transition: all 0.75s;
  margin: 8px;
  &:hover {
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
      0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  }
  &:active {
    background-color: black;
  }
}

@keyframes fadeinBottom {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeinTop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadeoutBottom {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0px;
    opacity: 0;
  }
}

@keyframes fadeoutTop {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes fadeinBottom {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeinTop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeoutBottom {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes fadeoutTop {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0px;
    opacity: 0;
  }
}
